<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 30px;
        }
        .logout-link {
            position: absolute;
            top: 30px;
            right: 30px;
        }
    </style>
</head>
<body>
    <h2>Listado de Productos</h2>
    
    <!-- Mostrar nombre del usuario logueado -->
    <div class="mb-3">
        <p>Bienvenido <span th:text="${nombre}"></span></p>
    </div>
    <!-- Botones en la parte superior -->
    <div class="mb-3">
        <a href="/logout" class="btn btn-danger logout-link">Cerrar Sesión</a>
        <a href="/generar_pdf" class="btn btn-success ml-2">Generar PDF</a>
        <a href="/agregarProducto" class="btn btn-primary ml-2">Agregar Producto</a> <!-- Nuevo botón para agregar producto -->
    </div>

    <!-- Tabla de productos -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre Producto</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iteración sobre lista de productos desde el backend -->
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.idProducto}"></td>
                <td th:text="${producto.nomProducto}"></td>
                <td th:text="'S/.' + ${producto.precio}"></td>
                <td th:text="${producto.stock}"></td>
                <td th:text="${producto.idCategoria.nomCategoria}"></td>
                <td>
                    <a th:href="@{/detalleProducto/{idProducto}(idProducto=${producto.idProducto})}" class="btn btn-info">Ver</a>
                    <a th:href="@{/editarProducto/{idProducto}(idProducto=${producto.idProducto})}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
